<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>Control.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>Control.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>Control.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>Control.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Control.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>Control.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>Control.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>Control.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>Control.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl</servlet-name>
        <servlet-class>Control.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>Control.EditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl_2</servlet-name>
        <servlet-class>Control.EditControl_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreControl</servlet-name>
        <servlet-class>Control.LoadMoreControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjax</servlet-name>
        <servlet-class>Control.SearchByAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountControl</servlet-name>
        <servlet-class>Control.ManagerAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountControl</servlet-name>
        <servlet-class>Control.AddAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>Control.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccount</servlet-name>
        <servlet-class>Control.EditAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartControl</servlet-name>
        <servlet-class>Control.AddCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCartControl</servlet-name>
        <servlet-class>Control.MyCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>Control.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Send_Email</servlet-name>
        <servlet-class>SendMail.Send_Email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCode</servlet-name>
        <servlet-class>SendMail.SendCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccount2</servlet-name>
        <servlet-class>Control.EditAccount2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>Control.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Control.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartDetail</servlet-name>
        <servlet-class>Control.AddCartDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutControl</servlet-name>
        <servlet-class>Control.CheckOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfo</servlet-name>
        <servlet-class>Control.EditInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrder</servlet-name>
        <servlet-class>Control.ManagerOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoOrder</servlet-name>
        <servlet-class>Control.InfoOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurcharseOrder</servlet-name>
        <servlet-class>Control.PurcharseOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckActive</servlet-name>
        <servlet-class>Control.CheckActive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckActice2</servlet-name>
        <servlet-class>Control.CheckActice2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>Control.DeleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoOrder2</servlet-name>
        <servlet-class>Control.InfoOrder2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>Control.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>Control.DeleteCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControl</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControl_2</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreControl</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAjax</servlet-name>
        <url-pattern>/searchAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountControl</servlet-name>
        <url-pattern>/managerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountControl</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccount</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartControl</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCartControl</servlet-name>
        <url-pattern>/myCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Send_Email</servlet-name>
        <url-pattern>/sendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCode</servlet-name>
        <url-pattern>/sendCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccount2</servlet-name>
        <url-pattern>/editAccount2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartDetail</servlet-name>
        <url-pattern>/cartDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutControl</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfo</servlet-name>
        <url-pattern>/editinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrder</servlet-name>
        <url-pattern>/managerorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoOrder</servlet-name>
        <url-pattern>/infoOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurcharseOrder</servlet-name>
        <url-pattern>/purcharse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckActive</servlet-name>
        <url-pattern>/checkactive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckActice2</servlet-name>
        <url-pattern>/checkactice2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoOrder2</servlet-name>
        <url-pattern>/infoOrder2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
